<a href="https://colab.research.google.com/github/fds-imane/Data_Marketing/blob/main/data_marketing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # Lumina & CO

### Info data



>   customers.csv     : il y a 50,000 clients

>  transactions.csv  : il y a 1,837,137 transactions

> touchpoints.csv   : 394,876 touchpoints

> campaigns.csv     : 6 campagnes

## Etape I

In [21]:
import pandas as pd

# Charger les fichiers CSV
customers = pd.read_csv('customers.csv')
transactions = pd.read_csv('transactions.csv')
campaigns = pd.read_csv('campaigns.csv')

print("Les 3 fichiers sont chargés avec succès.")

Les 3 fichiers sont chargés avec succès.

In [12]:
print("--- Aperçu des données ---")
display(customers.head(3))

print("\n--- Structure technique ---")
customers.info()

--- Aperçu des données ---

,customer_id,country,first_purchase,last_purchase,n_orders,total_spent,avg_basket,recency_days,tenure_days
0,46995,United Kingdom,2011-08-09 12:20:00,2011-11-16 12:20:00,2.28,57.34,26.44,23.83,99.17
1,22869,United Kingdom,2010-01-11 12:20:00,2011-10-30 12:20:00,46.53,19463.52,356.65,40.92,657.12
2,12593,France,2011-05-05 09:29:00,2011-05-05 09:29:00,1.00,39.50,39.50,218.00,218.00

--- Structure technique ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     50000 non-null  int64
 1   country         50000 non-null  object
 2   first_purchase  50000 non-null  object
 3   last_purchase   50000 non-null  object
 4   n_orders        50000 non-null  float64
 5   total_spent     50000 non-null  float64
 6   avg_basket      50000 non-null  float64
 7   recency_days    50000 non-null  float64
 8   tenure_days     50000 non-null  float64
dtypes: float64(5), int64(1), object(3)
memory usage: 3.4+ MB

In [13]:
print("--- Aperçu des données ---")
display(transactions.head(3))
print("\n--- Structure technique ---")
transactions.info()

--- Aperçu des données ---

,invoice_id,customer_id,product_code,product_name,quantity,unit_price,invoice_date,country
0,513574,NaN,22382,LUNCH BAG SPACEBOY DESIGN,2.0,4.21,2010-06-25 15:13:00,United Kingdom
1,609421,NaN,21028,PURPLE GEMSTONE BRACELET,2.0,8.95,2011-10-16 12:20:00,United Kingdom
2,515609,NaN,47591B,SCOTTIES CHILDRENS APRON,1.0,1.66,2010-07-13 15:44:00,United Kingdom

--- Structure technique ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1837137 entries, 0 to 1837136
Data columns (total 8 columns):
 #   Column        Dtype
---  ------        -----
 0   invoice_id    object
 1   customer_id   float64
 2   product_code  object
 3   product_name  object
 4   quantity      float64
 5   unit_price    float64
 6   invoice_date  object
 7   country       object
dtypes: float64(3), object(5)
memory usage: 112.1+ MB

In [14]:
print("--- Aperçu des données ---")
display(campaigns.head(3))
print("\n--- Structure technique ---")
campaigns.info()

--- Aperçu des données ---

,campaign_name,n_touchpoints,n_clients,n_clicks,n_conversions,total_cost,ctr,conversion_rate,cpa,estimated_revenue,roas,primary_channel,start_date,end_date
0,Back_to_School_2023,66227,28490,55034,19562,33567.3308,0.8310,0.6866,1.72,2.322968e+06,69.20,display,2011-02-07 12:50:10.962302767,2011-04-06 00:25:44.582665987
1,Black_Friday_2023,66359,28495,55044,19467,33685.2149,0.8295,0.6832,1.73,2.329076e+06,69.14,display,2011-04-09 12:51:22.412046629,2011-06-06 00:22:19.188015913
2,Spring_Launch_2024,65691,28373,54446,19436,33178.9170,0.8288,0.6850,1.71,2.078515e+06,62.65,display,2011-10-09 12:50:33.541271535,2011-12-06 00:48:13.617049075

--- Structure technique ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   campaign_name      6 non-null      object
 1   n_touchpoints      6 non-null      int64
 2   n_clients          6 non-null      int64
 3   n_clicks           6 non-null      int64
 4   n_conversions      6 non-null      int64
 5   total_cost         6 non-null      float64
 6   ctr                6 non-null      float64
 7   conversion_rate    6 non-null      float64
 8   cpa                6 non-null      float64
 9   estimated_revenue  6 non-null      float64
 10  roas               6 non-null      float64
 11  primary_channel    6 non-null      object
 12  start_date         6 non-null      object
 13  end_date           6 non-null      object
dtypes: float64(6), int64(4), object(4)
memory usage: 804.0+ bytes

In [16]:
# Analyse rapide du dataset
datasets = {"Clients": customers, "Transactions": transactions, "Campagnes": campaigns}

for nom, df in datasets.items():
    print(f"\n--- Analyse : {nom} ---")
    print(f"Lignes : {df.shape[0]} | Colonnes : {df.shape[1]}")

    # Vérification des doublons pour verifier lunicité
    nb_doublons = df.duplicated().sum()
    if nb_doublons > 0:
        print(f"{nb_doublons} lignes en double détectées !")
    else:
        print("propre propre propre !!!!")

--- Analyse : Clients ---
Lignes : 50000 | Colonnes : 9
propre propre propre !!!!

--- Analyse : Transactions ---
Lignes : 1837137 | Colonnes : 8
34522 lignes en double détectées !

--- Analyse : Campagnes ---
Lignes : 6 | Colonnes : 14
propre propre propre !!!!

In [17]:
# Checkpoint des valeurs manquantes en %
def check_missing(df):
    missing_pct = (df.isnull().sum() / len(df)) * 100
    # On ne garde que les colonnes qui ont des manques pour y voir clair
    return missing_pct[missing_pct > 0].round(2)

print("Pourcentage de valeurs manquantes :")
print(f"Clients :\n{check_missing(customers)}\n")
print(f"Transactions :\n{check_missing(transactions)}\n")
print(f"Campagnes :\n{check_missing(campaigns)}")

Pourcentage de valeurs manquantes :
Clients :
Series([], dtype: float64)

Transactions :
customer_id     22.77
product_name     0.41
quantity         0.88
dtype: float64

Campagnes :
Series([], dtype: float64)

In [24]:
# Inspection des types et dates
transactions['invoice_date'] = pd.to_datetime(transactions['invoice_date'], errors='coerce')

print(f"Période des transactions : du {transactions['invoice_date'].min()} au {transactions['invoice_date'].max()}")

# Vérifier les types attendus
print("\nTypes de données pour les transactions :")
print(transactions.dtypes)

Période des transactions : du 2007-07-06 12:20:00 au 2011-12-09 12:50:00

Types de données pour les transactions :
invoice_id              object
customer_id            float64
product_code            object
product_name            object
quantity               float64
unit_price             float64
invoice_date    datetime64[ns]
country                 object
dtype: object

### EDA & nettoyage